# Directories
[Bb]in/
[Bb]uild/
[Dd]ocs/
vs/

# Thirdparty dependencies
thirdparty/*
!thirdparty/CMakeLists.txt
!thirdparty/utf8-decoder

# Custom harfbuzz project file
!thirdparty/harfbuzz
thirdparty/harfbuzz/*
!thirdparty/harfbuzz/CMakeLists.txt

# Test data
test/filesystem_view_test/

# Ignore files with a 'dt_'(dont track) prefix
**/dt_*

# Visual Studio and VSCode cache/options directory
.vs/
.vscode/
.clang-format